<!--<div fxLayout="column">
    <md-card fxFlex="100">
        <md-card-actions fxLayout="column">
            <button md-button fxFlex="100" [routerLink]="['/home']" class="mat-button-left">Home</button>
        </md-card-actions>
    </md-card>
</div>-->
<div fxLayout="column">
    <md-card fxFlex="100">
        <!--<div>Master Screen</div>-->
        <md-card-actions fxLayout="column">
            <button md-button fxFlex="100" [routerLink]="['/companyinfo']" class="mat-button-left">Company Information</button>
            <button md-button fxFlex="100" [routerLink]="['/userinfo']" class="mat-button-left">User Information</button>
            <button md-button fxFlex="100" [routerLink]="['/type']" class="mat-button-left">Type</button>
            <button md-button fxFlex="100" [routerLink]="['/subtype']" class="mat-button-left">SubType</button>
        </md-card-actions>
    </md-card>
    <br/>
    <md-card fxFlex="100">
        <!--<div>Transactions Pages</div>-->
        <md-card-actions fxLayout="column">
            <button md-button fxFlex="100" [routerLink]="['/patientinfo']" class="mat-button-left">Patient Information</button>
            <button md-button fxFlex="100" [routerLink]="['/patientvisit']" class="mat-button-left">Patient Visit</button>
            <button md-button fxFlex="100" [routerLink]="['/generatebill']" class="mat-button-left">Generate Bill</button>
        </md-card-actions>
    </md-card>
    <br/>
    <md-card fxFlex="100">
        <!--<div>Generate Reports</div>-->
        <md-card-actions fxLayout="column">
            <button md-button fxFlex="100" [routerLink]="['/billcollection']" class="mat-button-left">Bill Collection</button>
            <button md-button fxFlex="100" [routerLink]="['/showbill']" class="mat-button-left">Show bill</button>
        </md-card-actions>
    </md-card>
</div>