<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<% include ../layout.ejs %>
<script type="text/javascript" src="javascripts/service/TypeService.js"></script>
<script type="text/javascript" src="javascripts/service/SubTypeService.js"></script>
<script type="text/javascript" src="javascripts/controller/SubTypeCntl.js"></script>
<div class="row container-fluid" ng-controller="SubTypeController">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Sub Type Information</div>
            <form class="form-horizontal" role="form">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-sm-4" for="BillItemType">Bill Item Type:</label>
                        <div class="col-sm-8">
                            <select class="form-control selectpicker"
                                    ng-model="itemSubType.typeid"
                                    ng-options="value.id as value.name for value in itemTypes" required>
                                <option value="">-- Select itemTypes--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Bill Item Sub Type:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="itemSubType.subtypename"
                                   placeholder="Bill Item Sub Type">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Amount:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Amount" ng-model="itemSubType.amount">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="addSubType(itemSubType)" ng-hide="editMode">Add</button>
                            <button type="submit" class="btn btn-primary" ng-click="updateSubType(itemSubType)" ng-show="editMode">Update</button>
                            <button type="submit" class="btn btn-danger" ng-click="resetSubType()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <div align="center">Edit</div>
                        </th>
                        <th>
                            <div align="center">Bill ItemType</div>
                        </th>
                        <th>
                            <div align="center">Bill Item Sub Type</div>
                        </th>
                        <th>
                            <div align="center">Amount</div>
                        </th>
                        <th>
                            <div align="center">Delete</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subtypes in subtypes | orderBy:predicate">
                        <td><button class="btn btn-info" ng-click="editSubType(subtypes)">
                                <span class="glyphicon glyphicon-edit text-info"></span>
                            </button>
                        </td>
                        <td> {{subtypes.subtypename}}</td>
                        <td> {{subtypes.typename }} </td>
                        <td> {{subtypes.amount}} </td>
                        <td><button class="btn btn-danger" ng-click="deleteType(subtypes)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

