<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxFlex>

  <md-toolbar color="primary">
    <button md-fab *ngIf="isMobile" (click)="leftsidenav.toggle()">=</button><span>Angular Material</span>
    <button md-fab (click)="rightsidenav.toggle()">=</button>
  </md-toolbar>
  <md-sidenav-container fxFlex>
    <md-sidenav #leftsidenav [mode]="!isMobile ? 'side' : 'over'" [opened]="!isMobile"
                position ="start">
      <md-tab-group>
        <md-tab label="Users">
          <md-nav-list>
            <md-list-item *ngFor="let user of users" (click)="selectedUser = user">
              <md-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></md-icon>
              <span>{{user.name}}</span>
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Settings">
          <span>Settings</span>
          <br/><br/><br/><br/><br/><br/><br/><br/>
          <button md-fab (click)="openAdminDialog()" class="fab-bottom-right">
            <md-icon>add</md-icon>
          </button>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <md-sidenav #rightsidenav position ="end" mode="over">
      Sam
    </md-sidenav>


    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <!--<button md-raised-button="md-raised-button" *ngIf="!sidenavOpen"
              color="primary" (click)="sidenav.toggle()">Open Sidenav</button>-->
      <md-card fxFlex="80">
        <md-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></md-icon>
        <h2>{{selectedUser.name}}</h2>
        <p>{{selectedUser.details}}</p>
      </md-card>
      <md-card fxFlex fxLayout="column" fxLayoutGap="14px">
        <md-slide-toggle [(ngModel)]="selectedUser.isAdmin">Is Admin?</md-slide-toggle>
        <md-slide-toggle [(ngModel)]="selectedUser.isCool">Is Cool?</md-slide-toggle>
      </md-card>
    </div>
  </md-sidenav-container>

</div>
