<!--<p>
  user-information works!
</p>
|{{userModel?.id}}|<br/>
|{{userModel?.username}}|<br/>
|{{userModel?.usertypeid}}|<br/>
|{{userModel?.usertypename}}|<br/>
|{{userModel?.password}}|<br/>-->
<br/>
<mat-card style="width:300px; horiz-align: center" class="nb-card">
  <mat-card-title class="nb-card-header"> View Company Details</mat-card-title>
  <mat-card-content>
    <mat-form-field class="vertical-row" style="display: none">
      <input matInput [ngModel]="userModel.id" placeholder="Id">
    </mat-form-field>
    <mat-form-field class="vertical-row">
      <input matInput [ngModel]="userModel.username" placeholder="User Name" [disabled]="userModel.id > 0">
    </mat-form-field>
    <mat-form-field class="vertical-row" style="display: none">
      <input matInput [ngModel]="userModel.usertypeid" placeholder="usertypeid">
    </mat-form-field>
    <mat-form-field class="vertical-row">
      <input matInput [ngModel]="userModel.usertypename" placeholder="User Type">
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="editCompany(true);" *ngIf="userModel.id === 0">
        Add
      </button>
      <button mat-raised-button color="primay"  *ngIf="userModel.id > 0" (click)="updateCompany(company)">
        Update
      </button>
      <button mat-raised-button color="warn" *ngIf="userModel.id > 0" (click)="resetUser();">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
