<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<% include ../layout.ejs %>
<script type="text/javascript" src="javascripts/service/BillService.js"></script>
<script type="text/javascript" src="javascripts/controller/ReportCntl.js"></script>
<script type="text/javascript" src="javascripts/lib/MedisoftFactory.js"></script>
<style type="text/css">
    .header {
        background-color: #3ab44a;
        color: white;
        font-weight: bold;
    }

    .item {
        padding-left: 8px;
    }
</style>
<div class="container-fluid" ng-controller="ReportController">
    <div class="panel panel-default">
        <div class="panel-heading">Search Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label>Start Date</label><br/>
                    <div class="form-inline">
                        <input type="text" uib-datepicker-popup="dd-MM-yyyy" is-open="opened1" class="form-control"
                               ng-model="patient.startDate" uib-datepicker-options="dateOptions"
                               uib-date-disabled="disabled(date, mode)"
                               ng-required="true" placeholder="DD-MM-YYYY" ng-readonly="true" max-date="patient.endDate"
                               show-button-bar="false">
                        <button class="btn" ng-click="open($event,'opened1')"><span
                                    class="glyphicon glyphicon-calendar"></span></button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label>End Date</label> <br/>
                    <div class="form-inline">
                        <input type="text" uib-datepicker-popup="dd-MM-yyyy" class="form-control" ng-model="patient.endDate"
                               is-open="opened2" min="minDate" max="'2015-06-22'" uib-datepicker-options="dateOptions"
                               ng-readonly="true"
                               uib-date-disabled="disabled(date, mode)" ng-required="true" placeholder="DD-MM-YYYY"
                               close-text="Close"
                               max-date="{{today}}" min-date="patient.startDate" show-button-bar="false"/>
                        <button class="btn" ng-click="open($event,'opened2')"><span
                                    class="glyphicon glyphicon-calendar"></span></button>
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label>Group By</label><br/> <select class="form-control"
                                                         ng-model="patient.groupCriteria"
                                                         ng-change="groupBy(patient.groupCriteria)"
                                                         ng-options="value.id as value.label for value in groupList"
                                                         required>
                        <option value="">-- Group Criteria--</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <br/>
                    <button type="submit" class="btn btn-primary"
                            ng-click="searchData(patient)">Search
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label>Search Information</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <label class="checkbox"> <input type="checkbox"
                                                    ng-model="oneAtATime">Open only one at a time
                    </label>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <!-- BEGIN: Outer ngRepeat. -->
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group heading="{{group.label}}" ng-repeat="group in groups">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th width="14%" ng-hide="typeName">Type Name</th>
                            <th width="16%" ng-hide="subTypename">Sub Type Name</th>
                            <th width="14%" ng-hide="billDate">Bill Data/Time</th>
                            <th width="16%" ng-hide="patientname">Patient Name</th>
                            <th width="14%">Amount</th>
                            <th width="14%">Count</th>
                            <th width="14%">Final Amount</th>
                        </tr>
                        <tr ng-repeat="friend in group.friends">
                            <td width="14%" ng-hide="typeName">{{ friend.typename }}</td>
                            <td width="16%" ng-hide="subTypename">{{ friend.subtypename }}</td>
                            <td width="14%" ng-hide="billDate">{{friend.dateofentry}}&nbsp;/&nbsp;{{friend.billTime}}</td>
                            <td width="16%" ng-hide="patientName">{{ friend.patientname }}</td>
                            <td width="14%">{{friend.amount}}</td>
                            <td width="14%">{{ friend.count }}</td>
                            <td width="14%">{{friend.finalamount}}</td>
                        </tr>
                        <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <th align="left">{{group.friends|sumIntByKey:'amount'}}</th>
                            <th align="left">{{group.friends|sumIntByKey:'count'}}</th>
                            <th align="left">{{group.friends|sumIntByKey:'finalamount'}}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </uib-accordion>
            <!-- END: Outer ngRepeat. -->


        </div>

        <div class="panel-footer">&nbsp;
            <label class="pull-right">Total : {{total | currency}}</label>
        </div>
    </div>
</div>
</body>
</html>