/* You can add global styles to this file, and also import other style files */
/**
 * Body CSS
 */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";
html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}
.example-icon {
  padding: 0 4px;
  margin-left: 20px;
  margin-right: 20px !important;
}

.example-spacer {
  flex: 1 1 auto;
}
.profile-icon {
  padding-right: 114px !important;
}